django
djangorestframework
djangorestframework-stubs
djangorestframework-simplejwt
django-cors-headers
kavenegar
gunicorn
pillow
psycopg
psycopg2-binary
python-dotenv
django-environ
uvicorn
scikit-learn
hashids
pandas
matplotlib
seaborn
imblearn
